* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

/* Custom Impact Font */
@font-face {
  font-family: 'ImpactCustom';
  src: url('fonts/Impact.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Page 1 / Hero Section */
.page1 {
  min-height: 100vh;
  background:
    linear-gradient(rgba(31,78,121,0.5), rgba(31,78,121,0.5)),
    url("assets/img1.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  padding: 25px 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

/* Nav */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 40px;
}

.logo {
    font-family: 'ImpactCustom', sans-serif;
    font-size: 40px;
}

.links {
    display: flex;
    gap: 30px;
}

.links a {
    color:white;
    text-decoration: none;
    font-weight: 700;
    font-size: 25px;
    transition: color 0.3s ease;
}

.links a:hover {
    color: #4d7595; /* subtle hover effect */
}

/* Hero Title */
.maintitle {
    font-family: 'ImpactCustom', sans-serif;
    font-size: 125px;
    line-height: 1.2;
    width: 75%;
    margin-bottom: 30px;
}

/* Hero Button */
.button1 {
    font-size: 40px;
    font-weight: 700;
    width: 350px;
    height: 55px;

    background-color: transparent;  
    border: 6px solid white;       
    border-radius: 18px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: white;                   
    cursor: pointer;
    transition: all 0.3s ease;     
}

.button1:hover {
    background-color: white;        
    color: #4d7595;                 
    transform: scale(1.025);          
}

.hamburger {
  display: none;
  font-size: 40px;
  cursor: pointer;
  color: white;
}

/* Page 2 */

/* Responsive adjustments */
@media (max-width: 1024px) {
    .maintitle {
        font-size: 90px;
    }

    .links a {
        font-size: 20px;
    }

    .button1 {
        font-size: 35px;
        width: 300px;
        height: 50px;
    }
}

@media (max-width: 768px) {
    .page1 {
        align-items: center;
        text-align: center;
        padding: 40px 20px;
    }

    .maintitle {
        font-size: 60px;
        width: 100%;
    }

   nav {
    position: relative;
  }

  .links {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(31,78,121,0.95); /* fullscreen overlay */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: 30px;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 10;
  }

  .links a {
    color: white;
  }


  .hamburger {
    display: block;
  }

  .links.active {
    transform: translateX(0);
  }
}